.page{
    max-width: 1336px;


    &__list{
        display: flex;
        
    }


    &__item{
        width: 432px;
        margin-right: 20px;
    }

    &__nav{
        width: 432px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #000000;

    }

    &__text{
        width: 432px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        color: #000000;
    }
    
}